*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    color: #ead8d7;
    min-height: 100vh;
}

header{
    font-size: 3rem;
    padding-top: 5vh;
}

header,
form
{
    min-height: 20vh;
    align-items: center;
    display: flex;
    justify-content: center;
}



form input{
    position: absolute;
    font-size: 1.5rem;
    background: white;
    cursor: text;
    min-width: 500px;
    box-shadow: -10px 20px 40px 0px rgba(0, 0, 0, 0.2),
    -5px 5px 5px 0px rgba(0, 0, 0, 0.1);;
}

::placeholder {
    color: #e6e6e6;
    font-size: 1.5rem;
    font-style: italic;
  }

input[type='text']{
    padding-left: 2.5rem;
}

form input,
form button
{
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    outline:none;
    font-size: 1.5rem;
    background: white;
    margin: 0px;
    padding: auto;
}

form button{
    position: relative;
    cursor: pointer;
    color: #e6e6e6;
    z-index: 1;
    right: 14.5rem;
}

